/*  =======================================================================
    Objects > Navbar
    ======================================================================= */

/*  Variables
    ======================================================================= */

$navbar-bg: map-get($colors, "primary");
$navbar-color: map-get($colors, "snowstorm");

/*  Module
    ======================================================================= */

.o-navbar {
  background: $navbar-bg;
  color: $navbar-color;
}
