/*  =======================================================================
    Objects > Container
    ======================================================================= */

.o-container {
  max-width: $large;
  padding-left: $padding;
  padding-right: $padding;
  margin-left: auto;
  margin-right: auto;
}

.o-container--medium {
  @extend .o-container;
  max-width: $medium;
}

.o-container--small {
  @extend .o-container;
  max-width: $small;
}

.o-container--fluid {
  @extend .o-container;
  max-width: 100%;
}
