/*  =======================================================================
    Settings > Variables
    ======================================================================= */

/*  Containers
    ======================================================================= */

$x-small: 640px !default;
$small: 768px !default;
$medium: 980px !default;
$large: 1280px !default;

/*  Breakpoints
    ======================================================================= */

$breakpoints: (
  mobile: $x-small,
  tablet: $small,
  desktop: $medium,
) !default;

/*  Global colors
    ======================================================================= */

$colors: (
  primary: #222,
  secondary: #bbcde5,
  accent: #0057ff,
  white: #fff,
) !default;

/*  Typography
    ======================================================================= */

// Body
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;

$font-size: 1rem !default;
$font-style: normal !default;
$font-variant: normal !default;
$font-weight: $font-weight-regular;
$font-family-primary: "Work Sans", sans-serif !default;
$font-family-secondary: "Crimson Text", serif !default;
$font-color: map-get($colors, "primary") !default;
$line-height: 1.6 !default;

// Headings
$heading-font-weight: $font-weight-bold;
$heading-line-height: 1.2 !default;

$h1: 36px !default;
$h2: 28px !default;
$h3: 24px !default;
$h4: 20px !default;
$h5: 18px !default;
$h6: 16px !default;

/*  Spacing
    ======================================================================= */

$padding: 1rem !default;
