/*  =======================================================================
    Settings > Variables
    ======================================================================= */

/*  Containers
    ======================================================================= */

$x-small: 640px !default;
$small: 768px !default;
$medium: 980px !default;
$large: 1280px !default;

/*  Breakpoints
    ======================================================================= */

$breakpoints: (
  mobile: $x-small,
  tablet: $small,
  desktop: $medium,
) !default;

/*  Global colors
    ======================================================================= */

$colors: (
  primary: #2e3440,
  secondary: #d8dee9,
  accent: #5e81ac,
  error: #bf616a,
  success: #a3be8c,
  porcelain: #eceff4,
  fog: #e5e9f0,
) !default;

/*  Typography
    ======================================================================= */

$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;

$font-size: 1rem !default;
$font-style: normal !default;
$font-variant: normal !default;
$font-weight: $font-weight-regular;
$font-family-primary: "Work Sans", sans-serif !default;
$font-family-secondary: "Crimson Text", serif !default;
$font-color: map-get($colors, "primary") !default;
$line-height: 1.6 !default;

/*  Spacing
    ======================================================================= */

$spacing: 1rem !default;

/*  Animation
    ======================================================================= */

$transition: all 300ms ease-in-out !default;

/*  Borders
    ======================================================================= */

$border-color: map-get($colors, "secondary");
$border-radius: 4px !default;
$border-radius-large: 5rem !default;
