/*  =======================================================================
    Settings > Variables
    ======================================================================= */

/*  Containers
    ======================================================================= */

$x-small: 640px !default;
$small: 768px !default;
$medium: 980px !default;
$large: 1280px !default;

/*  Breakpoints
    ======================================================================= */

$breakpoints: (
  mobile: $x-small,
  tablet: $small,
  desktop: $medium,
) !default;

/*  Global colors
    ======================================================================= */

$colors: (
  primary: #222,
  secondary: #f3f8ff,
  accent: #0057ff,
  white: #fff,
  gray: "#eee",
) !default;

/*  Typography
    ======================================================================= */

// Body
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;

$font-size: 1rem !default;
$font-style: normal !default;
$font-variant: normal !default;
$font-weight: $font-weight-regular;
$font-family-primary: "Work Sans", sans-serif !default;
$font-family-secondary: "Crimson Text", serif !default;
$font-color: map-get($colors, "primary") !default;
$line-height: 1.6 !default;

// Headings
$heading-font-weight: $font-weight-bold !default;
$heading-line-height: 1.2 !default;

$h1: 36px !default;
$h2: 28px !default;
$h3: 24px !default;
$h4: 20px !default;
$h5: 18px !default;
$h6: 16px !default;

/*  Spacing
    ======================================================================= */

$padding: 1rem !default;

/*  Borders
    ======================================================================= */

$border-radius: 5rem !default;

/*  Buttons
    ======================================================================= */

$buttons: (".c-button, a.c-button, button") !default;

$button-border-radius: $border-radius;
$button-padding: 1rem 1.5rem;

$button-primary-background: map-get($colors, "accent") !default;
$button-primary-color: white !default;

$button-secondary-background: map-get($colors, "secondary") !default;
$button-secondary-color: map-get($colors, "accent") !default;

$button-disabled-background: map-get($colors, "gray") !default;
$button-disabled-color: map-get($colors, "primary") !default;

$button-transition: all 300ms ease-in-out !default;

/*  Forms
    ======================================================================= */

$forms: (
  ".c-forms, [type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea"
) !default;

$forms-padding: 0.75rem;
