body {
  background: #fbfbfb;
}

.o-container {
  background: white;
}

article {
  margin-bottom: 3rem;
}

pre {
  background-color: #fbfbfb;
}

code {
  color: #0057ff;
}

.c-button {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

#grid .o-flex div {
  border: 1px solid #0057ff;
}
