body {
  background: #fbfbfb;
}

.o-container {
  background: white;
}

article {
  margin-bottom: 3rem;
}

pre {
  display: flex;
}

pre code {
  flex-basis: 100%;
}

xmp {
  display: inline;
}

#grid .o-flex div {
  background: #e5e9f0;
  border: 1px solid #d8dee9;
}
