/*  =======================================================================
    Components > Button
    ======================================================================= */

/*  Variables
    ======================================================================= */

$buttons: (
  ".c-button, a.c-button, button, [type=submit], [type=reset], [type=button]"
) !default;

$button-border-radius: $border-radius-large;
$button-padding: 1rem 1.5rem;
$button-transition: $transition;

$button-primary-background: map-get($colors, "accent") !default;
$button-primary-color: map-get($colors, "smokewhite") !default;

$button-secondary-background: map-get($colors, "secondary") !default;
$button-secondary-color: map-get($colors, "smokewhite") !default;

$button-disabled-background: map-get($colors, "snowstorm") !default;
$button-disabled-color: map-get($colors, "snowstorm") !default;

/*  Module
    ======================================================================= */

%c-button {
  border: 0;
  border-radius: $button-border-radius;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  outline: none;
  padding: $button-padding;
  text-align: center;
  transition: $button-transition;
}

@each $button in $buttons {
  #{$button} {
    @extend %c-button;

    &.c-button--primary {
      background: $button-primary-background;
      color: $button-primary-color;

      &:hover,
      &:focus,
      &:active {
        background-color: darken($button-primary-background, 15%);
      }
    }

    &.c-button--secondary {
      background: $button-secondary-background;
      color: $button-secondary-color;

      &:hover,
      &:focus,
      &:active {
        background-color: darken($button-secondary-background, 15%);
      }
    }

    &.c-button--disabled {
      background: lighten($button-disabled-background, 10%);
      color: $button-disabled-color;
    }

    &.c-button--full {
      display: block;
      width: 100%;
    }
  }
}
