/*  =======================================================================
    Components > Table
    ======================================================================= */

/*  Variables
    ======================================================================= */

$table-spacing: $spacing;
$table-border: map-get($colors, "snowstorm") !default;
$table-striped-color: map-get($colors, "snowstorm") !default;
$table-transition: $transition;

/*  Module
    ======================================================================= */

.c-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  th,
  td {
    border-bottom: 1px solid $table-border;
    padding: $table-spacing;
    text-align: left;
  }

  th {
    border-bottom-width: 2px;
  }
}

.c-table--striped tbody tr:nth-child(odd) {
  background-color: $table-striped-color;
}

.c-table--hoverable tbody tr {
  cursor: pointer;
  transition: $table-transition;

  &:hover {
    background-color: $table-striped-color;
  }
}
