/*  =======================================================================
    Elements > Divider
    ======================================================================= */

/*  Variables
    ======================================================================= */

$divider-background: map-get($colors, "snowstorm");

/*  Module
        ======================================================================= */
hr {
  margin-top: $spacing * 3;
  margin-bottom: $spacing * 2;
  height: 1px;
  border: none;
  background: $divider-background;
}
