/*  =======================================================================
    Elements > Divider
    ======================================================================= */

/*  Variables
    ======================================================================= */

$divider-background: map-get($colors, "snowstorm") !default;

/*  Module
        ======================================================================= */
hr {
  background: $divider-background;
  border: 0;
  height: 1px;
  margin-bottom: $spacing * 3;
  margin-top: $spacing * 4;
}
