/*  =======================================================================
    Elements > Links
    ======================================================================= */

/*  Variables
    ======================================================================= */

$link-color: map-get($colors, "accent");

/*  Module
    ======================================================================= */

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: darken($link-color, 15%);
  }
}
