/*  =======================================================================
    Elements > Headings
    ======================================================================= */

/*  Variables
    ======================================================================= */

$heading-font-weight: $font-weight-bold !default;
$heading-line-height: 1.2 !default;

$h1: 36px !default;
$h2: 28px !default;
$h3: 24px !default;
$h4: 20px !default;
$h5: 18px !default;
$h6: 36px !default;

/*  Module
    ======================================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  @include framer-font-size($h1);
}

h2 {
  @include framer-font-size($h2);
}

h3 {
  @include framer-font-size($h3);
}

h4 {
  @include framer-font-size($h4);
}

h5 {
  @include framer-font-size($h5);
}

h5 {
  @include framer-font-size($h6);
}
